<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">
        Dashboard
        <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#siswa">
        Siswa
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#guru">
        Guru
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#kelas">
        Kelas
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#mata_pelajaran">
        Mata Pelajaran
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#jadwal_pelajaran">
        Jadwal Pelajaran
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#raport">
        Raport
    </a>
  </li>
</ul>
